<nav class="navbar navbar-expand flex-column flex-md-row header-nav--nav">
        <div class="container">
            <div class="d-md-flex justify-content-between">
                <div class="navbar-brand d-flex justify-content-between align-items-center">
                    <a href="/"><img alt="Carved Rock Fitness" src="images/logos/carved-rock-logo.png"></a> <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggle" data-target="#navbarNav" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
                    <div class="header-nav--main">
                        <form class="form-inline form-inline d-none d-sm-none d-md-block">
                            <input aria-label="Search" class="form-control" placeholder="What can we help you find?" type="search"> <button class="btn btn-default" type="submit">SEARCH</button>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item"><NavLink class="nav-link" href="clothing">Clothing</NavLink></li>
                            <li class="nav-item"><NavLink class="nav-link" href="footwear">Footwear</NavLink></li>
                            <li class="nav-item"><NavLink class="nav-link" href="equipment">Equipment</NavLink></li>
                            <li class="nav-item"><NavLink class="nav-link" href="trails">Trail Reviews</NavLink></li>
                        </ul>
                    </div>
                    <Profile />
                </div>
            </div>
        </div>
    </nav>
@code {

}