@if (slotName != "Production")
{
    <div class="alert alert-danger" role="alert">
        NOTICE: You are in the @slotName slot.
    </div>
}

@code {
    private string hostname = Environment.GetEnvironmentVariable("APPSETTING_WEBSITE_DEFAULT_HOSTNAME") ?? string.Empty;
    private string siteName = Environment.GetEnvironmentVariable("APPSETTING_WEBSITE_SITE_NAME") ?? string.Empty;
    private string slotName = "Production";

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(hostname) && !string.IsNullOrEmpty(siteName) && hostname != siteName)
        {
            slotName = hostname.Replace(".azurewebsites.net", "", StringComparison.OrdinalIgnoreCase)
                              .Replace($"{siteName}-", "", StringComparison.OrdinalIgnoreCase);
        }
    }
}