@page "/Profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<h1>Profile</h1>
<p>Username: @username</p>

@code {
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        username = authState.User.Identity?.Name;
    }
}